.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.navbar-top {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.logo {
  font-size: var(--h4-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--spacing-lg);
  color: var(--secondary-110);
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.nav-links li {
  cursor: pointer;
  color: var(--secondary-100);
}

.sign-out-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-base) 3.9rem; 
  border-radius: var(--radius-lg);
  background-color: var(--cool-grey-20);
  color: var(--secondary-100);
  font-weight: var(--font-medium); 
  font-size: var(--body-md); 
  cursor: pointer;
  border: none;
  margin-top: auto;
  transition: background-color 0.2s ease;
}

.sign-out-btn:hover {
  background-color: var(--grey-30);
}
