.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.navbar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-lg);
}

.logo-img {
  width: auto;
  height: 32px;
  display: block;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  position: relative;
}

.nav-links a {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  cursor: pointer;
  color: var(--secondary-100);
  font-weight: var(--font-medium);
  position: relative;
  padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-sm) var(--spacing-xl);
}

.nav-links a.active {
  color: var(--primary-100);
  font-weight: var(--font-medium);
  position: relative;
}

.nav-links a.active svg {
  stroke: var(--primary-100);
}

.nav-links a.active::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 24px;
  background-color: var(--primary-90);
  border-radius: var(--radius-sm);
}

.sign-out-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-base) 3.1rem; 
  border-radius: var(--radius-lg);
  background-color: var(--cool-grey-20);
  color: var(--secondary-100);
  font-weight: var(--font-medium); 
  font-size: var(--body-md); 
  cursor: pointer;
  border: none;
  margin-top: auto;
  transition: background-color 0.2s ease;
}

.sign-out-btn:hover {
  background-color: var(--grey-30);
}
