@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import './styles/root.css';
@import './styles/typography.css';
@import './styles/utilities.css';
@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}


*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
}

.auth-layout {

}

.portal-layout {
    
}